.btn {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.card_button {
    border: none;
    background: none;
    padding: 0;
    color: #5050ff;
    font-weight: bold;
    font-family: Arial,sans-serif;
    font-size: 0.9rem;
    cursor: pointer;
}